.navbar{
    top: 0;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    background-color: black;
}
.Netflix-logo{
    position: fixed;
    margin-left: 20px;
    width: 5rem;
    height: 1.3rem;
}
.avatar{
    position: fixed;
    right: 2rem;
    height: 20px;
}