.banner{
    background-image: url(https://wallpaperaccess.com/full/2703652.png);
    color: white;
    height: 448px;
    background-size: cover;
}
.content{
    padding-left: 50px;
    padding-top: 140px;
    height: 190px;
}
.title{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 0.3rem;
}
.button{
    font-weight: 700;
    background-color: rgba(51,51,51, 0.5);
    padding-left: 2rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    color: white;
}
.button:hover{
    color: black;
    background-color: white;
}
.description{
    font-size: 1rem;
    width: 45rem;
    max-width: 360px;
    height: 85px;
    line-height: 1.3;
    padding-top: 1rem;
}